<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{#article}}
                <div class="post">
                    <h2 class="post-title">
                        {{title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{content}}
                    </h3>
                    <p class="post-meta">Posted by <a href="#">Trinity</a> on July 8, 2014</p>
                </div>
            {{/article}}
        </div>
    </div>
</div>