<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{#user}}
                <div class="post">
                    <h2>
                        {{id}}
                    </h2>
                </div>
            {{/user}}
            <div class="post">
                <h2>
                    {{roles}}
                </h2>
            </div>
        </div>
    </div>
</div>